/* Card - main container */
.main {
    width: 500px;
    min-height: 900px;
    padding: 10px;
}

/* ToDo Card */
.todocard {
    width: 500px;
    min-height: 900px;
    background: linear-gradient(0deg, #3A68AD, #3A68AD);
    box-shadow: inset -2px -2px 2px rgba(84, 12, 12, 0.15), inset 2px 2px 2px rgba(170, 40, 40, 0.15);
    border-radius: 20px;
    align-items: flex-start;
}

/* Heading */
.heading {
    width: 286px;
    height: 60px;
    font-weight: bold;
    font-size: 54px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFF00;
}

/* ToDO Item */
.todoitem {
    width: 90%;
    height: 55px;
    margin: 5%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15), 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 35px;
}

/* textitem */
.textitem {
    width: 90%;
    padding: 11px 0px 0px 24px;
    font-family: Lora;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}

/* Ellipse */
.ellipse {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 8px 0px 0px 25px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2), 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.ellipse:hover {
    background: #eeeeee;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4), 0px 0px 8px rgba(0, 0, 0, 0.4);
}

.checked {
    background: #6A43BC;
}

.ellipse.checked:hover {
    background: #9A43BC;
}

.strikeout {
    text-decoration: line-through;
}